
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Hello there!</p>

<span id="timeDisplay"></span>

@section Scripts
{
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script src="~/Scripts/main.js"></script>
}

